mixin student-nav 
  nav#studentNav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarText.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/')
            i.fa.fa-home
        li.nav-item(class=`${key === 'info' ? 'active' : ''}`)
          a.nav-link(href=`/user/${user.MA_ND}/`)
            | Thông tin cá nhân
            span.sr-only (current)
        li.nav-item(class=`${key === 'result' ? 'active' : ''}`)
          a.nav-link(href=`/user/${user.MA_ND}/learning-result`) Tra cứu kết quả học tập
        li.nav-item(class=`${key === 'timetable' ? 'active' : ''}`)
          a.nav-link(href=`/user/${user.MA_ND}/timetable`) Thời khoá biểu 
        li.nav-item(class=`${key === 'exam' ? 'active' : ''}`)
          a.nav-link(href=`/user/${user.MA_ND}/exam-calendar`) Làm kiểm tra
        li.nav-item(class=`${key === 're-exam' ? 'active' : ''}`)
          a.nav-link(href=`/user/${user.MA_ND}/re-exam`) Đăng ký thi lại
        li.nav-item(class=`${key === 'thematic' ? 'active' : ''}`)
          a.nav-link(href=`/user/${user.MA_ND}/thematic`) Đăng ký chuyên đề
     

