extends ./template/general.pug

block style 
  link(rel="stylesheet" type="text/css" href="/styles/css/header.css" )
  link(rel="stylesheet" type="text/css" href="/styles/css/footer.css" )
  link(rel="stylesheet" type="text/css" href="/styles/css/home.css" )

block content
  .us-wrapper
    //- header
    include ./mixin/header.pug
    +header
    
    //- slider
    #slider.carousel.slide(data-ride="carousel" data-interval="3000")
      ol.carousel-indicators
        each val in [1, 2, 3, 4, 5, 6]
          if(val === 1)
            li.active(data-target="#slider" data-slide-to=val)
          else 
            li(data-target="#slider" data-slide-to=val)

      .carousel-inner
        each val in [1, 2, 3, 4, 5, 6]
          if(val === 1)
            .carousel-item.active
              img.d-block.w-100(src=`/assets/images/sliders/${val}.png` alt="Slide")
          else
            .carousel-item
              img.d-block.w-100(src=`/assets/images/sliders/${val}.png` alt="Slide")

    //- filter
    section.filter.container 
      .filter-wrapper
        .filter-content
          h1.filter-content-title.text-center.mb-4 Tìm khóa học quan tâm. #[strong Học chắc từ nền tảng - ứng dụng hiệu quả CNTT vào thực tế cuộc sống]
          form.filter-content-form.flex-center.flex-wrap
            input.us-field.large(placeholder="Nhập môn học, từ khoá ...")
            select#eduProgramSelect.us-field.large.mx-4.my-2(default-value="-1")
              //- option được render trong home.js
            button.us-btn.us-btn-secondary.large Tìm thông tin

    //- education program
    section.edu-program 
      .edu-program-title.container.mb-5
        h1.us-title Chương trình đào tạo
        p.us-sub-title Chương trình học đa dạng và thường xuyên cập nhật công nghệ mới. #[br]Hãy để chúng tôi đồng hành cùng bạn trên hành trình chinh phục tri thức - vững vàng bước vào thế giới công nghệ 4.0.
      .edu-program-wrapper 
        #eduProgram.container.edu-program-container
          //- render trong file home.js
         
    //- Exam calendar
    section.exam-calendar-wrapper
      .container.flex-center
        .exam-calendar.position-relative
          h4.exam-calendar-top-title Lịch thi 
          a(href="#")
            h2.exam-calendar-title chứng chỉ tin học quốc gia
            p.exam-calendar-sub-title Dành cho Thí sinh tự do

    //- Support utilities
    section.support-util.container 
      h1.us-title-sec.mb-5 Tiện ích hỗ trợ
      .support-util-wrapper.row
        .support-util-box.flex-center--col.col-12.col-md-6
          a(href="#")
            img(src="/assets/images/support-utils/kho-de.jpg")
            h4 Kho đề thi mẫu
          p Kho đề thi mẫu và video hướng dẫn giải đề giúp học viên ôn tập cho kì thi chứng chỉ Ứng Dụng CNTT cơ bản và nâng cao.
        .support-util-box.flex-center--col.col-12.col-md-6
          a(href="#")
            img(src="/assets/images/support-utils/tra-cuu-diem.jpg")
            h4 Tra cứu điểm thi
          p Hỗ trợ học viên tra cứu kết quả thi được Trung Tâm thông báo sau ngày thi 2 tuần.
        .support-util-box.flex-center--col.col-12.col-md-6
          a(href="#")
            img(src="/assets/images/support-utils/lop-hoc-tt.jpg")
            h4 Lớp học trực tuyến
          p Các lớp học bổ sung kiến thức CNTT, học trực tiếp với giáo viên qua mạng Internet.
        .support-util-box.flex-center--col.col-12.col-md-6
          a(href="#")
            img(src="/assets/images/support-utils/kho-de.jpg")
            h4 Tra cứu chứng chỉ
          p Hỗ trợ học viên tra cứu chứng chỉ được Trung Tâm cấp sau ngày thi 1,5 tháng.

    //- Teacher section
    section
      h1.us-title-sec.mb-5 Đội ngũ giáo viên
      .teacher-wrapper.w-100
        .container.position-relative.h-100
          img.teacher-slogan(src="/assets/images/teachers/slogan.png" alt="Slogan")
          ul.teacher-list
            if (teacherList && teacherList.length > 0)
              each teacher in teacherList 
                a.flex-center(href=teacher.link)
                  li.teacher-avatar(data-toggle="tooltip" title=teacher.name)
                    img(src=teacher.avt alt="Teacher Photo")

    //- student's feeling
    section.student-feel 
      h1.us-title-sec.my-5 Cảm nhận học viên
      .student-feel-wrapper.flex-center--ver.w-100
        #studentSlider.carousel.slide(data-ride="carousel" data-interval="3000").container.h-100
          .carousel-inner
            if (studentFeelList && studentFeelList.length > 0)
              - for(var i = 0; i < studentFeelList.length; ++i)  
                - var active = i === 0 ? 'active':''
                .carousel-item(class=active)
                  .flex-center-between
                    img.student-avt(src=studentFeelList[i].avt, alt="Student Photo")
                    .student-blockquote
                      p.quote= studentFeelList[i].quote
                      p.author= studentFeelList[i].author
          
          
          //- slider arrow 
          a.carousel-control-prev(href='#studentSlider' role='button' data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#studentSlider' role='button' data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next

    //- statistic
    section.statistic.container
      h2.statistic-title.text-center Cảm ơn các bạn đã tin tưởng và đồng hành cùng chúng tôi
      .row.my-5 
        .statistic-box.col-12.col-md-6.col-lg-3
          i.statistic-icon.fas.fa-calendar-alt(style="color:#42B574")
          span.statistic-count 30+
          span.statistic-unit Năm 
        .statistic-box.col-12.col-md-6.col-lg-3
          i.statistic-icon.fa.fa-graduation-cap(style="color: #F5BF2F")
          span.statistic-count 1.000.000+
          span.statistic-unit Học viên
        .statistic-box.col-12.col-md-6.col-lg-3
          i.statistic-icon.fa.fa-globe(style="color:#55BBEB")
          span.statistic-count 20+
          span.statistic-unit Cơ sở khắp cả nước 
        .statistic-box.col-12.col-md-6.col-lg-3
          i.statistic-icon.fa.fa-image(style="color:#F54B0F")
          span.statistic-count 100+
          span.statistic-unit Chương trình đào tạo

    //- contact & map
    section.container
      .row 
        .contact.col-12.col-md-6.col-lg-4
          h2.contact-title Liên hệ
          select#mapSelect.w-100.us-field.large.mb-2(default-value="cs1")
            option(value="cs1") Trụ sở chính: 227 Nguyễn Văn Cừ, Quận 5, Tp HCM
            option(value="cs2") Cơ sở 137E Nguyễn Chí Thanh, P9, Q.5, Tp HCM
          ul.contact-infor
            li
              i.fas.fa-map-marker-alt
              span#contactAddress Trụ sở chính: 227 Nguyễn Văn Cừ, Quận 5, Tp HCM
            li
              i.fas.fa-phone-rotary
              span (028) 38351056
            li
              i.fas.fa-calendar-alt
              span Giờ làm việc
            li #[b Từ thứ 2 đến thứ 6] #[br] 07h30 đến 19h00 #[br] #[b Thứ 7 đến Chủ nhật] #[br]07h30 đến 17h00 #[br] 
            li.my-2
              a(href="#" style="color: #0080CC" target="_blank") Xem bản đồ lớn hơn
        .map.col-12.col-md-6.col-lg-8
          a#mapLink(href="#" target="_blank")
            img#mapImg(src="/assets/images/map/nvc.png" alt="Map Photo")

    //- footer
    include ./mixin/footer.pug
    +footer

block script 
  script(src="/scripts/header.js") 
  script(src="/scripts/home.js") 