extends ./template/general.pug

block style
  link(rel="stylesheet" type="text/css" href="/styles/css/header.css" )
  link(rel="stylesheet" type="text/css" href="/styles/css/opening-schedule.css" )

block content
  .us-wrapper
    include ./mixin/header.pug
    +header

    //- slider
    #slider.carousel.slide(data-ride="carousel" data-interval="3000")
      ol.carousel-indicators
        each val in [1, 2, 3, 4, 5, 6]
          if(val === 1)
            li.active(data-target="#slider" data-slide-to=val)
          else 
            li(data-target="#slider" data-slide-to=val)

      .carousel-inner
        each val in [1, 2, 3, 4, 5, 6]
          if(val === 1)
            .carousel-item.active
              img.d-block.w-100(src=`/assets/images/sliders/${val}.png` alt="Slide")
          else
            .carousel-item
              img.d-block.w-100(src=`/assets/images/sliders/${val}.png` alt="Slide")

    //- opening schedule
    .container
      h1.us-title.my-4 Lịch khai giảng các khoá học
      if courseList && courseList.length > 0
        - for (let i = 0; i < courseList.length; ++i)
          .card.course
            .course-header.card-header.flex-center-between(data-toggle='collapse' data-target=`#collapse_${i}` aria-expanded='true' aria-controls=`collapse_${i}`)
              h2.course-title= courseList[i].TEN_KH
              i.course-icon.fal.fa-chevron-circle-down
            .collapse.hide(id=`collapse_${i}`)
              .card-body.course-content
                - const time = Math.ceil((new Date(courseList[i].TG_KET_THUC) - new Date(courseList[i].TG_BAT_DAU)) / 2_592_000_000);
                h3.sub-title [New] #{courseList[i].TEN_KH} ~ #[span #{time} tháng]
                b Học phí trọn khoá: #[strike #{formatPrice(courseList[i].HOC_PHI * 1.08)}] #[br]
                strong Ưu đãi học phí chỉ còn #{formatPrice(courseList[i].HOC_PHI)} #[b khi đăng ký online và hoàn tất học phí trước ] 
                | #[strong ngày #{formatDate(courseList[i].NGAY_KHAI_GIANG)}]
                p.course-desc  Dành cho người mới bắt đầu, Khóa 267 #{courseList[i].NGAY_KHAI_GIANG} sẽ học trực tuyến với giảng viên 100% đến khi có thông báo mới
                table.table.table-striped.table-bordered.my-4
                  thead
                    tr.table-primary
                      th(scope='col') #[b Lớp]
                      th(scope='col') #[b Thời gian học]
                      th(scope='col') #[b Ngày khai giảng]
                      th(scope='col') #[b Địa điểm học]
                      th(scope='col') #[b Đã đăng ký]
                      th(scope='col') 
                  tbody
                  - const classList = courseList[i].DS_LOP_HOC;
                  - for(let i = 0; i < classList.length; ++i)
                      tr
                        td= classList[i].MA_LH
                        td= classList[i].THOI_GIAN_HOC
                        td= formatDate(classList[i].NGAY_KG_LH)
                        td= convertStudyPlace(classList[i].DIA_DIEM_HOC)
                        td= classList[i].SL_DA_DANG_KY
                        td.text-center
                          a(href=`/register-course/${classList[i].MA_LH}`)
                            button.btn.btn-primary  Đăng ký
      else 
        h3.us-sub-title.my-4 Hiện tại không có khoá học nào        
block script 
  script(src="/scripts/header.js") 
  script(src="/scripts/opening-schedule.js") 